.header {
    margin-top:20px;
    list-style-type: none;
    width: 100%;
    text-align: right;
}

li {
    font-size: 13px;
    font-family: arial;
    margin:3px;
    display: inline;
}

img {
    position: relative;
    display: block;
    margin: 150px auto 40px auto;
}

input {
    height: 35px;
    margin:0px auto 35px auto;
    display:block;
    border-radius: 20px;
    border:1px solid #f2f2f2;
}

.buttons{
    margin-top: 10px;
    text-align: center;
}

button{
    border-radius: 5px;
    padding:10px;
    font-size: 15px;
    background-color: #f2f2f2;
    border:0px;
}

.footer{
    padding:0px;
    display: block;
    width: 100%;
    background-color: #f2f2f2;
    bottom:0px;
}
